package page

import "app/internal/view/layout"
// import "app/internal/view/component"

templ Dashboard() {
    @layout.Page("Dashboard") {
        <section class="p-4">
            <h1 class="text-white text-2xl text-center">Dashboard</h1>
        </section>
    }
}
